<div class="row">
    <div class="col-xl-12 col md-12 col-12">
        <div class="card mt-5">

            <div class="card-body">
                <h3 class="card-title text-center">
                    Add new todo
                </h3>
                <div class="row">
                    <div class="col-12">
                        <%= form_with model: @todos, url: todo_path, data: { remote: false } do |form| %>
                            <div class="mb-3">
                                <%= form.label :title, class: 'form-label' %>
                                <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
                            </div>
                            <div class="mb-3">

                                <%= form.submit 'Add', class: 'btn btn-primary' %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>